body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 30px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
}

#stats{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-weight: bold;
  color: #555;
}

.input-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px 14px;
  border: none;
  background-color: #0077ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #005edb;
}

li {
  list-style: none;
  background: #f1f1f1;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
/* 
.task-text {
  flex: 1;
} */

.completed {
  text-decoration: line-through;
  color: gray;
  background-color: #d9ffd9;
}

.dark-mode {
  background-color: #1e1e1e;
  color: white;
}

.dark-mode .container {
  background-color: #2c2c2c;
}

.dark-mode li {
  background-color: #444;
}

.action-buttons button {
  margin-left: 5px;
  padding: 6px 10px;
}

.dark-mode h1{
  color: white;
}